![Javascript30](https://javascript30.com/images/JS3-social-share.png)
 
Exercise 1 JavaScript Drum Kit
 - Vanilla JS tutorial dictated by wes bos for improving javascript skills.
Enjoy it.   

Tags: DOM & User Interface, Audio, CSS.

Webs:
http://keycode.info/

> Try this course [https://javascript30.com/](https://javascript30.com/).